<h1>User Profile Page</h1>

<%= @user.username %>
<br>
<%= @user.email %>
<br>
<hr>
<% if is_admin?  %>
  <%= link_to "Add a New Product", new_user_product_path(@user) %>
<% end %>


<h3>Products you have added</h3>

<% @user.products.each do |product| %>

  Name: <%= link_to product.name, product_path(product) %>
  <br>

  <br>
  Description:<%= product.description %>
  <br>
  Price: $<%= product.price %>

  <% if is_admin?  %>


    <%= link_to "Edit Product", edit_user_product_path(@user, product) %> |
    <%= link_to "Delete this Product", user_product_path(@user, product),
            :data => {:confirm => "Are you sure?",
              :method => "delete"} %>

    <% end %>


  <hr>
<% end %>
