<%= render 'layouts/errors', :object => @product %>

<%= form_for [@user, @product] do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :price %>
  <%= f.text_field :price %>
  <%= f.label :image %>
  <%= f.text_field :image %>
  <p><%= f.submit %></p>
<% end %>
