<h1>LIST OF ALL PRODUCTS</h1>

<% @products.each do |product| %>

  <%= link_to product.name, product_path(product) %>
  <br>
  <%= product.name %>
  <br>
  <%= product.description %>
  <br>
  <%= product.price %>

  <% if is_admin?  %>


    <%= link_to "Edit Product", edit_product_path(product) %> |
    <%= link_to "Delete this Product", product_path(product),
            :data => {:confirm => "Are you sure?",
              :method => "delete"} %>

    <% end %>


  <hr>
<% end %>
