<h1>All Photos on Display</h1>



<% @products.each do |product| %>


  <br>
  <div class="polaroid">
    <%= image_tag product.image %>
    <div class="myContent">
        <%= link_to "View details page", product_path(product) %>
      <br>
      Name: <%= product.name %>
      <br>
      Description: <%= product.description %>
      <br>
      Price: <%= product.price %>
    </div>
  </div>

  <% if is_admin?  %>


    <%= link_to "Edit Product", edit_product_path(product) %> |
    <%= link_to "Delete this Product", product_path(product),
            :data => {:confirm => "Are you sure?",
              :method => "delete"} %>

    <% end %>


  <hr>
<% end %>
